<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'; style-src 'self' 'unsafe-inline'"> -->
    <link href="./assets/general.css" rel="stylesheet">
    <title>ExonAuto</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
  
    <link rel="stylesheet" href="stylish.css">
    <meta content="My profile???" property="og:title">

    <meta content="ExonAuto.Me" property="og:description">

    <meta content='https://cdn.discordapp.com/avatars/785577645379026955/b2adb0f8f02cae732a3d026eec98ec3f.png?size=1024' property='og:image'>
    
    <meta name="theme-color" content="#FF5733">

    <link type="application/json+oembed" href="assets/discordEmbed.json" />
  </head>
  
  <nav id="nav">
    <div class="logo-container">
      <img src="./assets/exonauto.png">
      <h2>ExonAuto.me</h2>
    </div>
    
    <button id="aboutMe" class="selected"> about me </button>
    
    <button id="socials"> socials </button>

    <button id="skills"> skills </button>  
  </nav>

  <body>
    <div style="align-items: center;" id="window">
      <br>
      <div style="text-align: center; color: antiquewhite; max-width: 50vw; min-width: 50vw; margin-left: 5%;" class="card">
          <h2> About me </h2>
          <hr style="width: 90%;">
          <p style="font-size: larger;">
            Hi, i'm ExonAuto. 
            <br>
            I like programing, cats, editing videos, and animating. (well, i try lol)
            <br>
            <br>
            My current goal is to get top 3 on the polyjam for the coding/games catagory, as well as to start actually uploading content to my <a href="https://google.com">youtube channel</a>.
          </p>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="assets/landingPage.js"></script>
</html>
